<tabset [justified]="true">
    <tab>
        <ng-template tabHeading>
            <em class="icon-equalizer fa-lg"></em>
        </ng-template>
        <!-- <h3 class="text-center text-thin">Settings</h3> -->
        <!-- Theme Settings -->
        <div class="p">
            <h4 class="text-muted text-thin">Themes</h4>
            <p class="text-muted text-thin">Select your theme :</p>
            <div class="table-grid mb">
                <div class="col mb">
                    <div class="setting-color">
                        <label>
                          <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="A" />
                          <span class="icon-check"></span>
                          <span class="split">
                <span class="color bg-info"></span>
                          <span class="color bg-info-light"></span>
                          </span>
                          <span class="color bg-white"></span>
                      </label>
                    </div>
                </div>
                <div class="col mb">
                    <div class="setting-color">
                        <label>
                          <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="B" />
                          <span class="icon-check"></span>
                          <span class="split">
                <span class="color bg-green"></span>
                          <span class="color bg-green-light"></span>
                          </span>
                          <span class="color bg-white"></span>
                      </label>
                    </div>
                </div>
                <div class="col mb">
                    <div class="setting-color">
                        <label>
                          <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="C" />
                          <span class="icon-check"></span>
                          <span class="split">
                <span class="color bg-purple"></span>
                          <span class="color bg-purple-light"></span>
                          </span>
                          <span class="color bg-white"></span>
                      </label>
                    </div>
                </div>
                <div class="col mb">
                    <div class="setting-color">
                        <label>
                          <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="D" />
                          <span class="icon-check"></span>
                          <span class="split">
                <span class="color bg-danger"></span>
                          <span class="color bg-danger-light"></span>
                          </span>
                          <span class="color bg-white"></span>
                      </label>
                    </div>
                </div>
            </div>
            <div class="table-grid mb">
                <div class="col mb">
                    <div class="setting-color">
                        <label>
                          <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="E" />
                          <span class="icon-check"></span>
                          <span class="split">
                <span class="color bg-info-dark"></span>
                          <span class="color bg-info"></span>
                          </span>
                          <span class="color bg-gray-dark"></span>
                      </label>
                    </div>
                </div>
                <div class="col mb">
                    <div class="setting-color">
                        <label>
                          <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="F" />
                          <span class="icon-check"></span>
                          <span class="split">
                <span class="color bg-green-dark"></span>
                          <span class="color bg-green"></span>
                          </span>
                          <span class="color bg-gray-dark"></span>
                      </label>
                    </div>
                </div>
                <div class="col mb">
                    <div class="setting-color">
                        <label>
                          <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="G" />
                          <span class="icon-check"></span>
                          <span class="split">
                <span class="color bg-purple-dark"></span>
                          <span class="color bg-purple"></span>
                          </span>
                          <span class="color bg-gray-dark"></span>
                      </label>
                    </div>
                </div>
                <div class="col mb">
                    <div class="setting-color">
                        <label>
                          <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="H" />
                          <span class="icon-check"></span>
                          <span class="split">
                <span class="color bg-danger-dark"></span>
                          <span class="color bg-danger"></span>
                          </span>
                          <span class="color bg-gray-dark"></span>
                      </label>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>
<tabset [justified]="true">
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-muted text-thin">Logo</h4>
                </div>
                <hr>
                <div class="panel-body">

                    <h4>Select file : </h4>
                    <!-- <div ng-show="form.uploader.isHTML5" class=""> -->
                    <!-- 3. nv-file-over uploader="link" over-class="className"-->
                    <!-- <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="box-placeholder my-drop-zone">
                        Base drop zone
                    </div> -->
                    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}"-->
                    <!-- <div nv-file-drop="" uploader="form.uploader" options="{ url: '/foo' }">
                    <div nv-file-over="" uploader="form.uploader" over-class="bg-purple" class="box-placeholder my-drop-zone">Another drop zone with its own settings</div>
                </div> -->
                    <!-- </div> -->
                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}"-->
                    <!-- <hr> -->
                    <!-- <input filestyle="" type="file" data-button-text="Multiple" data-class-button="btn btn-default" data-class-input="form-control inline"
                nv-file-select="" uploader="form.uploader" multiple="" class="form-control" id="filestyle-0" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
            <div class="bootstrap-filestyle input-group"><input type="text" class="form-control " placeholder="" disabled=""> 
                <span class="group-span-filestyle input-group-btn"
                    tabindex="0"><label for="filestyle-0" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>                <span class="buttonText">Multiple</span></label>
                </span>
            </div><br> -->
                    <input filestyle="" type="file" data-button-text="Single" data-class-button="btn btn-default" data-classinput="form-control inline"
                        nv-file-select="" uploader="form.uploader" class="form-control" id="filestyle-1" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"
                        (change)="fileChangeListener($event)">
                    <div class="bootstrap-filestyle input-group">
                        <input type="text" class="form-control " placeholder="" disabled="">
                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                    <label for="filestyle-1" class="btn btn-default "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>
                        <span
                            class="buttonText">Upload Logo</span>
                            </label>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="image.src">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-muted text-thin">Logo Preview</h4>
                </div>
                <hr>
                <div class="panel-body">

                    <div class="text-center">
                        <img  src={{image.src}} height="42px" width="300px"><br>
                        <button class="btn btn-primary pull-right" (click)='saveLogo()'>Save Logo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</tabset>