.thumbnail {
    position: relative;
}
.caption {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 90%;
    color: white;
}
.products-main{
    margin-top: 2%;
}
h2{
    color: #656565;
}
