<!-- START panel-->
<div class="col-md-12 products-main">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>New Arrivals</h2>
    </div>
    <div class="panel-body">
      <!--<div class="row">-->
        <div class="col-lg-3">
          <!-- START widget-->
          <div class="panel widget">
            <img class="img-responsive" src="assets/img/bg1.jpg" alt="Image" />
            <div class="panel-body">
              <div class="row row-table text-center">
                <a>View details <span class="fa fa-angle-double-right"></span></a>
              </div>
            </div>
            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quisquam?</p>
            </div>
          </div>
          <!-- END widget-->
        </div>
        <div class="col-lg-3">
          <!-- START widget-->
          <div class="panel widget">
            <img class="img-responsive" src="assets/img/bg1.jpg" alt="Image" />
            <div class="panel-body">
              <div class="row row-table text-center">
                <a>View details <span class="fa fa-angle-double-right"></span></a>
              </div>
            </div>
            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quisquam?</p>
            </div>
          </div>
          <!-- END widget-->
        </div>
        <div class="col-lg-3">
          <!-- START widget-->
          <div class="panel widget">
            <img class="img-responsive" src="assets/img/bg1.jpg" alt="Image" />
            <div class="panel-body">
              <div class="row row-table text-center">
                <a>View details <span class="fa fa-angle-double-right"></span></a>
              </div>
            </div>
            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quisquam?</p>
            </div>
          </div>
          <!-- END widget-->
        </div>
        <div class="col-lg-3">
          <!-- START widget-->
          <div class="panel widget">
            <img class="img-responsive" src="assets/img/bg1.jpg" alt="Image" />
            <div class="panel-body">
              <div class="row row-table text-center">
                <a>View details <span class="fa fa-angle-double-right"></span></a>
              </div>
            </div>
            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quisquam?</p>
            </div>
          </div>
          <!-- END widget-->
        </div>
      <!--</div>-->
    </div>
  </div>
</div>
<!-- END panel-->