<div class="layout-h">
    <div class="wrapper">
        <!-- Page content-->
        <div class="content-wrapper contentWrapperTopMargin" >
            <div class="content-heading">
                <!-- <button class="btn btn-primary pull-right" type="button">
                <em class="fa fa-plus-circle fa-fw mr-sm"></em>New Invoice</button> -->
                Order
            </div>
            <div class="panel">
                <div class="panel-body">
                    <!-- <button class="pull-right btn btn-default btn-sm" type="button">Copy this invoice</button> -->
                    <h3 class="mt0">Order 00004879</h3>
                    <hr/>
                    <div class="row mb-lg">
                        <div class="col-lg-4 col-xs-6 br pv">
                            <div class="row">
                                <div class="col-md-2 text-center visible-md visible-lg">
                                    <em class="fa fa-plane fa-4x text-muted"></em>
                                </div>
                                <div class="col-md-10">
                                    <h4>Bill Mitchelle</h4>
                                    <address></address>Nowhere 1024
                                    <br/>Happy St., 50487
                                    <br/>Neverland</div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-6 br pv">
                            <div class="row">
                                <div class="col-md-2 text-center visible-md visible-lg">
                                    <em class="fa fa-truck fa-4x text-muted"></em>
                                </div>
                                <div class="col-md-10">
                                    <h4>Lloyd Gonzales</h4>
                                    <address></address>Basilisa 2145
                                    <br/>Mate, Cliff., 20145
                                    <br/>Moon</div>
                            </div>
                        </div>
                        <div class="clearfix hidden-md hidden-lg">
                            <hr/>
                        </div>
                        <div class="col-lg-4 col-xs-12 pv">
                            <div class="clearfix">
                                <p class="pull-left">ORDER NO.</p>
                                <p class="pull-right mr">00004879</p>
                            </div>
                            <div class="clearfix">
                                <p class="pull-left">Ordered Placed</p>
                                <p class="pull-right mr">25/08/2014</p>
                            </div>
                            <div class="clearfix">
                                <p class="pull-left">Expect On</p>
                                <p class="pull-right mr">30/08/2014</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="unwrap">
                        <div class="p-lg">
                            <div class="row">
                                <div class="col-lg-9 col-lg-offset-1">
                                    <!-- START timeline-->
                                    <ul class="timeline">
                                        <li class="timeline-separator" data-datetime="Today"></li>
                                        <!-- START timeline item-->
                                        <li>
                                            <div class="timeline-badge primary">
                                                <em class="fa fa-cart-plus"></em>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="popover left">
                                                    <div class="arrow"></div>
                                                    <div class="popover-content">
                                                        <div class="table-grid table-grid-align-middle mb">
                                                            <div class="col col-xs">
                                                            </div>
                                                            <div class="col">
                                                                <p class="m0">
                                                                    <a class="text-muted" href="#">
                                                                        <strong>Order Confirmed</strong>
                                                                    </a>24/08/2017</p>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            <em>Will be processed to shipment</em>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- END timeline item-->
                                        <!-- START timeline item-->
                                        <li class="timeline-inverted">
                                                <div class="timeline-badge warning">
                                                    <em class="fa fa-gift"></em>
                                                </div>
                                                <div class="timeline-panel">
                                                    <div class="popover right">
                                                        <div class="arrow"></div>
                                                        <div class="popover-content">
                                                            <div class="table-grid table-grid-align-middle mb">
                                                                <!-- <div class="col col-xs">
                                                                    <img class="media-object img-circle thumb48" src="assets/img/user/09.jpg" alt="Image" />
                                                                </div> -->
                                                                <div class="col">
                                                                    <p class="m0">
                                                                        <a class="text-muted" href="#">
                                                                            <strong>Order Packed</strong>
                                                                        </a>assigned to a Blue Dart courier service
                                                                        <!-- <a class="text-muted" href="#">
                                                                            <strong></strong>
                                                                        </a>to issue <a href="#">#548795</a> -->
                                                                    </p>
                                                                    <p class="m0">
                                                                        <em>Will notify once the item is shipped</em>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- END timeline item-->
                                        
                                        <!-- START timeline separator-->
                                        <li class="timeline-separator" data-datetime="Yesterday"></li>
                                        <!-- END timeline separator-->
                                        <!-- START timeline item-->
                                        <li>
                                            <div class="timeline-badge success">
                                                <em class="fa fa-plane"></em>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="popover left">
                                                    <div class="arrow"></div>
                                                    <div class="popover-content">
                                                        <div class="table-grid table-grid-align-middle mb">
                                                            <!-- <div class="col col-xs">
                                                                <img class="media-object img-circle thumb48" src="assets/img/user/12.jpg" alt="Image" />
                                                            </div> -->
                                                            <div class="col">
                                                                <p class="m0">
                                                                    <a class="text-muted" href="#">
                                                                        <strong>Item shipped</strong>
                                                                    </a>
                                                                    <!-- closed issue <a href="#">#548795</a> -->
                                                                </p>
                                                                <p class="m0">
                                                                    <em>Item shipped expect  your delivery soon</em>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- END timeline item-->
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge warning">
                                                <em class="fa fa-truck"></em>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="popover right">
                                                    <div class="arrow"></div>
                                                    <div class="popover-content">
                                                        <div class="table-grid table-grid-align-middle mb">
                                                            <!-- <div class="col col-xs">
                                                                <img class="media-object img-circle thumb48" src="assets/img/user/09.jpg" alt="Image" />
                                                            </div> -->
                                                            <div class="col">
                                                                <p class="m0">
                                                                    <a class="text-muted" href="#">
                                                                        <strong>Out for delivery</strong>
                                                                    </a>
                                                                    <a class="text-muted" href="#">
                                                                        <!-- <strong>Dennis Green</strong> -->
                                                                    </a>
                                                                    <!-- to issue <a href="#">#548795</a> -->
                                                                </p>
                                                                <p class="m0">
                                                                    <em>Your  item is out for deliver expect it any time today</em>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- END timeline item-->
                                        <!-- START timeline item-->
                                        <li class="timeline-end">
                                            <a class="timeline-badge" href="#">
                                                <em >Delivered</em>
                                            </a>
                                        </li>
                                        <!-- END timeline item-->
                                    </ul>
                                    <!-- END timeline-->
                                </div>
                                <div class="col-lg-3">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                        
        </div>
    </div>
  </div>
  
  
  
  
  
