<!--<div class="panel panel-default">-->
<div class="carousel-main">
  <carousel [interval]="2000" [noWrap]="false">
    <slide *ngFor="let slidez of slides; let index=index" [active]="slidez.active">
      <img [src]="slidez.image" class="img-responsive carousel-images">
      <div class="carousel-caption">
        <h2>some description about the product</h2>
        <button class="mb-sm btn btn-primary-outline" type="button">Default</button>
      </div>
    </slide>
  </carousel>
</div>
<!--</div>-->
