<!--<div class="panel panel-default">-->
<div class="carousel-main">
  <carousel [interval]="2000" [noWrap]="false">
    <slide *ngFor="let slidez of slides; let index=index" [active]="slidez.active">
      <img [src]="slidez.image" class="img-responsive carousel-images">
      <div class="carousel-caption">
        <h1>Excellence in exterior building products</h1>
        <button class="mb-sm btn btn-primary-outline" [routerLink]="'/home/products'" type="button">View Products</button>
      </div>
    </slide>
  </carousel>
</div>
<!--</div>-->
