.contentWrapperTopMargin{
    margin-top:0px;
}

#char {
    width: 25% !important;
}
@media only screen and (max-width: 767px) {
    .contentWrapperTopMargin{
        // margin-top:55px;
        margin-top:128px;
    }
}