<div class="layout-h">
    <div class="wrapper">
        <section>
            <!-- Page content-->
            <div class="content-wrapper contentWrapperTopMargin">
                <!-- START panel-->
                <div class="panel widget">
                    <div class="panel-body">
                        <div class="row row-table">
                            <div class="col-xs-2 ">
                                <img class="img-thumbnail img-circle img-responsive thumb96" src="assets/img/product7.png" alt="Image" />
                            </div>
                            <div class="col-xs-7">

                                <h3 class="mt0">Product Name</h3>
                                <p class="text-muted">Our award-winning steel roofing offers timeless beauty and an unmatched quality.</p>
                                <p class="text-muted" *ngIf="showProductDetails"> Engineered to withstand the most extreme weather conditions - hail, wind, snow and ice, while maintaining its original look for years to come. Home and business owners alike will have peace of mind knowing their products
                                    are backed with a lifetime, non-prorated warranty. </p>
                                <a><small (click)="toggleShowProductDetails()" *ngIf="!showProductDetails" class="pull-right">View Details</small></a>
                                <a><small (click)="toggleShowProductDetails()" *ngIf="showProductDetails" class="pull-right">Close</small></a>
                            </div>
                            <div class="col-xs-2">
                                <div><a class="btn btn-success" [routerLink]="'/home/products'">Change Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Customize this product</div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="table-ext-3">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                    <th>Chosen option</th>
                                    <th>List of Values</th>
                                    <th>Description of chosen option</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let characteristic of characteristics; let i = 'index'">
                                    <td>{{characteristic.id}}</td>
                                    <td>{{characteristic.description}}</td>
                                    <td>{{findSelectedCharacteristicValue(i)}}</td>
                                    <td><a class="label label-danger" (click)=showVlaues($event,i) data-toggle="modal" data-target="#characteristicModal" *ngIf="characteristic.value.length">Select</a></td>
                                    <td>{{findSelectedCharacteristicDesc(i)}}</td>
                                    <td>{{findSelectedCharacteristicPricing(i)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END table-responsive-->

                </div>
                <!-- Characteristic Modal -->
                <div class="modal fade" id="characteristicModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Select Value for Characteristic</h4>
                            </div>
                            <div class="modal-body">
                                <input #txtFname placeholder="search by characteristic value" class="form-control mb" type="text" />
                                <table class="table table-bordered table-hover text-center" id="table-ext-3">
                                    <thead>
                                        <tr>
                                            <!-- <th>Action</th> -->
                                            <th id="char">Characteristic value</th>
                                            <th class="text-center">Value Description</th>
                                            <!-- <th>Pricing</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let characteristic of characteristics[currentCharacteristicId].value | searchfilter: 'charValu' : txtFname.value; let i = 'index'">
                                            <td>
                                                {{characteristic.charValu}}
                                            </td>
                                            <td>
                                                {{characteristic.valueDesc}}
                                                <a class="pull-right label label-success" (click)="selectCharacteristic(i)" data-dismiss="modal">Select</a>
                                            </td>
                                            <!-- <td>
                                                {{characteristic.pricing}}
                                            </td> -->
                                            <!-- <td>
                                                <button class="btn btn-success" (click)="selectCharacteristic(i)" data-dismiss="modal">select</button>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End of Characteristic Modal -->
            </div>
        </section>

    </div>
</div>