<div class="col-lg-6">
  <!-- START widget-->
  <div class="panel widget">
    <div class="row row-table row-flush">
      <div class="col-xs-5">
        <picture class="lateral-picture">
          <img src="assets/img/bg10.jpg" alt="" />
        </picture>
      </div>
      <div class="col-xs-7 align-middle p-lg">
        <p>
          <span class="text-lg">16</span>Aug</p>
        <p>
          <strong>EVENT INVITATION</strong>
        </p>
        <p>Donec posuere neque in elit luctus tempor consequat enim egestas. Nulla dictum egestas leo at lobortis.</p>
      </div>
    </div>
  </div>
  <!-- END widget-->
</div>
    <div class="col-lg-6">
        <!-- START widget-->
        <div class="panel widget">
            <div class="panel-body text-center bg-center">
                <!--<div class="row row-table">-->
                    <div class="col-xs-12">
                        <img class="img img-responsive" src="assets/img/bg4.jpg" alt="Image" />
                    </div>
                <!--</div>-->
            </div>
            <div class="panel-body text-center bg-gray-darker">
                <div class="row row-table">
                    <div class="col-xs-4">
                        <a class="text-white" href="#">
                            <em class="fa fa-twitter fa-2x"></em>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="text-white" href="#">
                            <em class="fa fa-facebook fa-2x"></em>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="text-white" href="#">
                            <em class="fa fa-comments fa-2x"></em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="#">
                    <span class="label label-primary pull-right">15</span>
                    <em class="fa fa-fw fa-clock-o text-muted"></em>Recent Activity</a>
                <a class="list-group-item" href="#">
                    <span class="label label-primary pull-right">100</span>
                    <em class="fa fa-fw fa-user text-muted"></em>Following</a>
                <a class="list-group-item" href="#">
                    <span class="label label-primary pull-right">300</span>
                    <em class="fa fa-fw fa-folder-open-o text-muted"></em>Photos</a>
            </div>
        </div>
        <!-- END widget-->
    </div>