<div class="wrapper">
    <!-- top navbar-->
    <app-top-navbar class="topnavbar-wrapper"></app-top-navbar>
    <!-- sidebar-->
    <app-side-navbar class="aside" (openModal)="showModal($event)"></app-side-navbar>
    <!-- offsidebar-->
    <!--<app-offsidebar class="offsidebar"></app-offsidebar>-->
    <!-- Main section-->
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Large modal</h4>
                            <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </section>
    <!-- Page footer-->
    <!--<footer app-footer></footer>-->
</div>