<div class="wrapper">
    <div class="row product-catalog-main">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
    <div class="aside">
        <!-- START Sidebar (left)-->
        <div class="aside-inner">
            <nav class="sidebar" sidebar-anyclick-close="" [class.show-scrollbar]="settings.layout.asideScrollbar">
               <br> 
               <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
                                <!-- START sidebar nav-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label float-left pull-left">Style</label>
                                        <div class="col-sm-12">
                                            <select 
                                                class="form-control" 
                                                formControlName="style"
                                                [formControl]="valForm.controls['style']" 
                                                (change)="styleSelected($event)">
                                                    <option *ngFor="let style of styles" value={{style.id}}>{{style.name}}</option>
                                            </select>
                                            <span class="text-danger" *ngIf="valForm.controls['style'].hasError('required') && (valForm.controls['style'].dirty || valForm.controls['style'].touched)">This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label pull-left">Color</label>
                                        <div class="col-sm-12">
                                            <div class="panel-body">
                                                
                                                    <ul class="list-inline external-event-color-selector">
                                                        <li *ngFor="let color of colors" class="p0">
                                                            <a class="circle circle-{{color.name}} circle-xl selected" (click)="colorSelected(color.id)"></a>
                                                        </li>
                                                        <!-- <li class="p0"><a class="circle circle-primary circle-xl"></a></li>
                                                        <li class="p0"><a class="circle circle-info circle-xl"></a></li>
                                                        <li class="p0"><a class="circle circle-success circle-xl"></a></li>
                                                        <li class="p0"><a class="circle circle-warning circle-xl"></a></li>
                                                        <li class="p0"><a class="circle circle-green circle-xl"></a></li>
                                                        <li class="p0"><a class="circle circle-pink circle-xl"></a></li>
                                                        <li class="p0"><a class="circle circle-inverse circle-xl"></a></li>
                                                        <li class="p0"><a class="circle circle-purple circle-xl"></a></li> -->
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label pull-left">Brand</label>
                                        <div class="col-sm-12">
                                            <select 
                                                class="form-control" 
                                                formControlName="brand" 
                                                [formControl]="valForm.controls['brand']"
                                                (change)="brandSelected($event)">
                                                    <option *ngFor="let brand of brands" value={{brand.id}}>{{brand.name}}</option>
                                                </select>
                                            <span class="text-danger" *ngIf="valForm.controls['brand'].hasError('required') && (valForm.controls['brand'].dirty || valForm.controls['brand'].touched)">This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label pull-left">Model</label>
                                        <div class="col-sm-12">
                                            <select 
                                                class="form-control" 
                                                formControlName="model" 
                                                [formControl]="valForm.controls['model']"
                                                (change)="modelSelected($event)">
                                                    <option *ngFor="let model of models" value={{model.id}}>{{model.name}}</option>
                                                </select>
                                            <span class="text-danger" *ngIf="valForm.controls['model'].hasError('required') && (valForm.controls['model'].dirty || valForm.controls['model'].touched)">This field is required</span>
                                        </div>
                                    </div>
                                <!-- END sidebar nav-->
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
<!-- END Sidebar (left)-->
    </div>
    </div>
    <!-- offsidebar-->
    <!--<app-offsidebar class="offsidebar"></app-offsidebar>-->
    <!-- Main section-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <div class="content-heading">Product Catalog
                <small>Search for the product you wish to have</small>
            </div>
            <div *ngFor="let product of products">
                <div class="col-lg-4">
                    <!-- START widget-->
                    <div class="panel widget">
                        <div class="panel-body text-center bg-center" style="background-image: url('assets/img/bg4.jpg')">
                            <div class="row row-table">
                                <div class="col-xs-12 text-white">
                                    <br><br><br>
                                    <!-- <img class="img-thumbnail img-circle thumb128" src="assets/img/user/06.jpg" alt="Image" /> -->
                                    <h3 class="m0">{{product.name}}</h3>
                                    <p class="m0">
                                        <em></em>some info</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body text-center bg-gray-lighter">
                            <div class="row row-table">
                                <div class="col-xs-12">
                                    <a class="text-{{product.color}}" [routerLink]="'/home/characteristics'">
                                        product name
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END widget-->
                </div>
            </div>
        </div>
    </section>
    </div>
</div>
</div>