<div class="wrapper">
    <!-- <div class="row product-catalog-main"> -->
    <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"> -->
    <div class="aside">
        <!-- START Sidebar (left)-->
        <div class="aside-inner">
            <nav class="sidebar" sidebar-anyclick-close="" [class.show-scrollbar]="settings.layout.asideScrollbar">
                <br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-validate form-horizontal" novalidate="">
                                <!-- START sidebar nav-->
                                <div class="form-group">
                                    
                                    <!-- <label class="col-sm-2 control-label float-left pull-left">Style</label> -->
                                    <div class="col-sm-12">
                                            <span>Style</span>
                                        <angular2-multiselect [data]="styles" [(ngModel)]="selectedStyles" 
                                            name="styles"
                                            [settings]="dropdownSettings" 
                                            (onSelect)="styleSelected($event)" 
                                            (onDeSelect)="styleDeselected($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                                            <!-- <ss-multiselect-dropdown [options]="styles" [(ngModel)]="stylesModel"  (ngModelChange)="styleSelected($event)"></ss-multiselect-dropdown> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label pull-left">Color</label>
                                    <div class="col-sm-12">
                                        <div class="panel-body">
                                            <ul class="list-inline external-event-color-selector">
                                                <li *ngFor="let color of colors; let i='index'" class="p0">
                                                    <a class="circle circle-{{color.name}} circle-xl" (click)="colorSelected(color.id, $event)" [ngClass]="{'currentColor':color.selected === true}">
                                                        <!-- <input type="checkbox" [checked]="color.selected" style="visibility:hidden" /> -->
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <!-- <label class="col-sm-2 control-label pull-left">Brand</label> -->
                                    <div class="col-sm-12">
                                            <span>Brand</span>
                                        <angular2-multiselect [data]="brands" [(ngModel)]="selectedBrands" 
                                            name="brands"
                                            [settings]="dropdownSettings" 
                                            (onSelect)="brandSelected($event)" 
                                            (onDeSelect)="brandDeselected($event)"></angular2-multiselect>
                                        <!-- <ss-multiselect-dropdown [options]="brands" [(ngModel)]="brandssModel" name="brands" name="styles" (ngModelChange)="brandSelected($event)"></ss-multiselect-dropdown>     -->
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                        
                                    <!-- <label class="col-sm-2 control-label pull-left">Model</label> -->
                                    <div class="col-sm-12">
                                            <span>Model</span>
                                        <angular2-multiselect [data]="models" [(ngModel)]="selectedModels" 
                                            name="models"
                                            [settings]="dropdownSettings" 
                                            (onSelect)="modelSelected($event)" 
                                            (onDeSelect)="modelDeselected($event)"></angular2-multiselect>
                                        <!-- <ss-multiselect-dropdown [options]="models" [(ngModel)]="modelsModel" name="models" name="styles" (ngModelChange)="modelSelected($event)"></ss-multiselect-dropdown>     -->
                                            
                                    </div>
                                </div>
                                <!-- END sidebar nav-->
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- END Sidebar (left)-->
    </div>
    <!-- </div> -->
    <!-- offsidebar-->
    <!--<app-offsidebar class="offsidebar"></app-offsidebar>-->
    <!-- Main section-->
    <!-- <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6"> -->
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <div class="content-heading">Product Catalog
                <small>Search for the product you wish to have</small>
            </div>
            <div *ngFor="let product of products">
                <div class="col-lg-4">
                    <!-- START widget-->
                    <div class="panel widget">
                        <div class="panel-body text-center bg-center" style="background-image: url('assets/img/bg4.jpg')">
                            <div class="row row-table">
                                <div class="col-xs-12 text-white">
                                    <br><br><br>
                                    <!-- <img class="img-thumbnail img-circle thumb128" src="assets/img/user/06.jpg" alt="Image" /> -->
                                    <h3 class="m0">{{product.name}}</h3>
                                    <p class="m0">
                                        <em></em>some info</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body text-center bg-gray-lighter">
                            <div class="row row-table">
                                <div class="col-xs-12">
                                    <a class="text-{{product.color}}" [routerLink]="'/home/characteristics'">
                                        product name
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END widget-->
                </div>
            </div>
        </div>
    </section>
    <!-- </div> -->
    <!-- </div> -->
</div>