@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';
.home-container {
    margin: 0 auto;
    max-width: $container-md;
    .home-logo {
        width: 240px;
    }
    .home-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}

.currentColor {
    border: 3px solid hsla(0, 0%, 100%, .5);
}

// .product-catalog-main{
//     margin-top: 4.2%;
// }
// @media only screen and (max-width: $mq-tablet){
//     .product-catalog-main{
//         margin-top: 15%;
//     }
// }
// @media only screen and (max-width: $mq-mobile){
//     .product-catalog-main{
//         margin-top: 25%;
//     }
// }
// .sidebar{
//     height: 100vh;
// }
// .sidebar:not(.show-scrollbar){
//     overflow-y: hidden !important;
// }