@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';
.home-container {
    margin: 0 auto;
    max-width: $container-md;
    .home-logo {
        width: 240px;
    }
    .home-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}
.form-group .col-sm-12 span{
    font-weight: bold;
}
.currentColor {
    border: 3px solid hsla(0, 0%, 100%, .5);
}

@media only screen and (max-width: 767px) {
    .margin-sm-colors{
        margin-top:12px!important
    }
     .selected-list[_ngcontent-c5] .fa-angle-up[_ngcontent-c5] {
        top: 50%!important;
    }
    // .fa-angle-down{
    //     margin-top:12px!important;
    //     top:50%!important;
    // }
    // .fa-angle-up{
    //     margin-top:12px!important
    // }
}

// .product-catalog-main{
//     margin-top: 4.2%;
// }
// @media only screen and (max-width: $mq-tablet){
//     .product-catalog-main{
//         margin-top: 15%;
//     }
// }
// @media only screen and (max-width: $mq-mobile){
//     .product-catalog-main{
//         margin-top: 25%;
//     }
// }
// .sidebar{
//     height: 100vh;
// }
// .sidebar:not(.show-scrollbar){
//     overflow-y: hidden !important;
// }
