<!--Carousal Selector-->

<app-carousal></app-carousal>

<!--Products Selector-->
<!-- <app-products></app-products> -->
<!--Categoriees Selector-->
<!-- <app-categories></app-categories> -->
<section>
    
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="content-heading">Products Avilable 
            <small>these are our top selling products</small>
        </div>
    </div>
</section>
<div class="container-fluid" style="background:transparent;" >
        <div class="col-lg-3">
            <!-- START widget-->
            <div class="panel widget">
                <div class="row row-table row-flush">
                    <div class="col-xs-8">
                        <img class="img-responsive" src="assets/img/bg2.jpg" alt="" />
                    </div>
                    <div class="col-xs-4 align-middle bg-info">
                        <div class="text-center">
                            <div class="text-lg mt0">11&deg;</div>
                            <p>Cold</p>
                            <em class="fa fa-sun-o fa-2x"></em>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END widget-->
        </div>
        <div class="col-lg-3">
            <!-- START widget-->
            <div class="panel widget">
                <img class="img-responsive" src="assets/img/bg1.jpg" alt="Image" />
                <div class="panel-body">
                    <div class="row row-table text-center">
                        <div class="col-xs-4">
                            <p>Comments</p>
                            <h3 class="m0 text-primary">700</h3>
                        </div>
                        <div class="col-xs-4">
                            <p>Likes</p>
                            <h3 class="m0 text-primary">1500</h3>
                        </div>
                        <div class="col-xs-4">
                            <p>Shots</p>
                            <h3 class="m0 text-primary">300</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END widget-->
        </div>
            <div class="col-lg-3">
                <!-- START widget-->
                <div class="panel widget">
                    <div class="row row-table row-flush">
                        <div class="col-xs-8">
                            <img class="img-responsive" src="assets/img/bg4.jpg" alt="" />
                        </div>
                        <div class="col-xs-4 align-middle bg-info">
                            <div class="text-center">
                                <div class="text-lg mt0">11&deg;</div>
                                <p>Cold</p>
                                <em class="fa fa-sun-o fa-2x"></em>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END widget-->
            </div>
            <div class="col-lg-3">
                <!-- START widget-->
                <div class="panel widget">
                    <img class="img-responsive" src="assets/img/bg1.jpg" alt="Image" />
                    <div class="panel-body">
                        <div class="row row-table text-center">
                            <div class="col-xs-4">
                                <p>Comments</p>
                                <h3 class="m0 text-primary">700</h3>
                            </div>
                            <div class="col-xs-4">
                                <p>Likes</p>
                                <h3 class="m0 text-primary">1500</h3>
                            </div>
                            <div class="col-xs-4">
                                <p>Shots</p>
                                <h3 class="m0 text-primary">300</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END widget-->
            </div>     
</div>
<!-- <section> -->
    <div class="content-wrapper">
        <div class="content-heading">Categories
            <small>Categories of procuts avilable</small>
        </div>
    </div>
<div class="container-fluid" style="background:transparent;" >

        <div class="col-lg-6">
            <!-- START widget-->
            <div class="panel widget">
                <div class="row row-table row-flush">
                    <div class="col-xs-6">
                        <picture class="lateral-picture">
                            <img src="assets/img/bg2.jpg" alt="" />
                        </picture>
                    </div>
                    <div class="col-xs-6 align-middle p-lg">
                        <div class="pull-right"><a class="btn btn-primary btn-sm" href="#">Register</a>
                        </div>
                        <p>
                            <span class="text-lg">16</span>Aug</p>
                        <p>
                            <strong>EVENT INVITATION</strong>
                        </p>
                        <p>Donec posuere neque in elit luctus tempor consequat enim egestas. Nulla dictum egestas leo at lobortis.</p>
                    </div>
                </div>
            </div>
            <!-- END widget-->
        </div>
        <div class="col-lg-6">
            <!-- START widget-->
            <div class="panel widget">
                <div class="half-float">
                    <img class="img-responsive" src="assets/img/bg3.jpg" alt="" />
                    <div class="half-float-bottom">
                        <!-- <img class="img-thumbnail img-circle thumb128" src="assets/img/user/09.jpg" alt="Image" /> -->
                    </div>
                </div>
                <div class="panel-body text-center">
                    <h3 class="m0">Ted Berry</h3>
                    <p class="text-muted">Lead director</p>
                    <p>Proin metus justo, commodo in ultrices at, lobortis sit amet dui. Fusce dolor purus, adipiscing a tempus at, gravida vel purus.</p>
                </div>
                <div class="panel-body text-center bg-gray-dark">
                    <div class="row row-table">
                        <div class="col-xs-4">
                            <h3 class="m0">400</h3>
                            <p class="m0">Photos</p>
                        </div>
                        <div class="col-xs-4">
                            <h3 class="m0">2000</h3>
                            <p class="m0">Likes</p>
                        </div>
                        <div class="col-xs-4">
                            <h3 class="m0">500</h3>
                            <p class="m0">Following</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END widget-->
        </div>
        <div class="col-lg-6" style="margin-top:-200px">
            <!-- START widget-->
            <div class="panel widget">
                <div class="half-float">
                    <img class="img-responsive" src="assets/img/bg3.jpg" alt="" />
                    <div class="half-float-bottom">
                        <!-- <img class="img-thumbnail img-circle thumb128" src="assets/img/user/09.jpg" alt="Image" /> -->
                    </div>
                </div>
                <div class="panel-body text-center">
                    <h3 class="m0">Ted Berry</h3>
                    <p class="text-muted">Lead director</p>
                    <p>Proin metus justo, commodo in ultrices at, lobortis sit amet dui. Fusce dolor purus, adipiscing a tempus at, gravida vel purus.</p>
                </div>
                <div class="panel-body text-center bg-gray-dark">
                    <div class="row row-table">
                        <div class="col-xs-4">
                            <h3 class="m0">400</h3>
                            <p class="m0">Photos</p>
                        </div>
                        <div class="col-xs-4">
                            <h3 class="m0">2000</h3>
                            <p class="m0">Likes</p>
                        </div>
                        <div class="col-xs-4">
                            <h3 class="m0">500</h3>
                            <p class="m0">Following</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END widget-->
        </div>
        <div class="col-lg-6">
            <!-- START widget-->
            <div class="panel widget">
                <div class="row row-table row-flush">
                    <div class="col-xs-6">
                        <picture class="lateral-picture">
                            <img src="assets/img/bg2.jpg" alt="" />
                        </picture>
                    </div>
                    <div class="col-xs-6 align-middle p-lg">
                        <div class="pull-right"><a class="btn btn-primary btn-sm" href="#">Register</a>
                        </div>
                        <p>
                            <span class="text-lg">16</span>Aug</p>
                        <p>
                            <strong>EVENT INVITATION</strong>
                        </p>
                        <p>Donec posuere neque in elit luctus tempor consequat enim egestas. Nulla dictum egestas leo at lobortis.</p>
                    </div>
                </div>
            </div>
            <!-- END widget-->
        </div>
</div>
