.carousel-images{
     width: 100%;   
     height: 400px;
}
.carousel-main {
    padding: 0px;
}
.thumbnail {
    position: relative;
}
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: white;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
  }
div .horizontal{
    height: 272px;
}

.img-responsive{
    width: 100%;
}
img.horizontal {
    height: 272px !important;
}
img.img-responsive.vertical{
    height: 200px !important;
}
a#product-details{
    color: white;
}
span.details{
    margin-left: 2%;
}
.half-float{
    margin-bottom:0px !important;  
}


@media only screen and (min-width: 1185px) {
    .catageoryTopMargin{
        // margin-top:55px;
        margin-top:-230px;
    }
}