<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail img-circle" [src]="user.picture" alt="Avatar" />
            <div class="circle circle-success circle-lg"></div>
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name">Welcome Ashok
            <!--<i class="fa fa-pencil-square-o profileEdit" aria-hidden="true" (click)="callParent()"></i>-->
            </span>
        <span class="user-block-role">Programmer</span>
    </div>
</div>